/* Home.css */
.home-container {
    padding: 2rem;
    gap: 2rem;
    animation: fadeIn 1s ease-in-out;
    height: 100vh;
    width: 100vw;
}

.welcome-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out;
}

.logout-button {
    margin: 2rem;
    background-color: #D20B34;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.logout-button:hover {
    background-color: #d20b33ad;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}